<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-link" href="/#/">
                <i class="ion-arrow-return-left"></i>
                All Lists
            </a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1>{{ list.Name }}</h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="(k, v) in list.List">
                <a href="" ng-click="increment(k, v)">+1</a>
                &nbsp;
                {{ k }}
                <span class="badge">{{ v }}</span>
            </li>
        </ul>
    </div>
</div>
