////////////////////////////////////////////////
// Ours

// 
// Colors
//
@lst-brand-primary: #21A5EA;
@lst-brand-secondary: hsl(hue(spin(@lst-brand-primary, 60)), saturation(@lst-brand-primary) * 0.65, lightness(@lst-brand-primary) * 1.07);
@lst-brand-secondary-dark: hsl(hue(@lst-brand-secondary), 5%, 60%);

@lst-active-item-color: lightblue;

// 
// Transition
//
@lst-ease-out: cubic-bezier(0.05, 0.99, 0.1, 1);
@lst-transition-duration: 0.5s;

////////////////////////////////////////////////
// Bootstrap

@border-radius-large: 0px;
@border-radius-base: 0px;
@border-radius-small: 0px;

@font-family-base: 'Open Sans', sans-serif;
@body-bg: transparent;

@brand-primary: @lst-brand-primary;

