<form class="lst-list-form">
  <div class="lst-list-heading">
    <div class="lst-form-control lst-title">
      <input ng-disabled="listId" type="text" ng-model="list.title" placeholder="title" class="lst-title-input"
             maxlength="24" autofocus="autofocus"/>
    </div>
  </div>

  <div class="lst-list-types" ng-if="!listId">
    <div class="lst-list-type">
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="lst-type lst-todo"
                  ng-class="{active: list.type === 'todo'}"
                  ng-click="setType('todo')">
            <i class="ion-android-checkbox-outline"></i>
            todo
          </button>
        </div>
        <div class="col-xs-4">
          <button type="button" class="lst-type lst-vote"
                  ng-class="{active: list.type === 'vote'}"
                  ng-click="setType('vote')">
            <i class="ion-android-star-outline"></i>
            vote
          </button>
        </div>
        <div class="col-xs-4">
          <button type="button" class="lst-type lst-survey"
                  ng-class="{active: list.type === 'survey'}"
                  ng-click="setType('survey')">
            <i class="ion-android-radio-button-on"></i>
            survey
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="lst-list-items">
    <list-item ng-repeat="item in items"
               disable="listId"
               index="$index"
               name="item.name"
               sort="item.sort"
               type="list.type"
               value="item.value">
    </list-item>
  </div>

  <div class="lst-list-options" ng-if="!listId">
    <a href="" target="_parent" ng-click="toggleFeatured()" ng-show="list.security === 'public'">Show</a>
    <a href="" target="_parent" ng-click="toggleFeatured()" ng-show="list.security === 'link'">Hide</a>
    this on ridiculi.st
  </div>

  <button type="button"
          ng-if="!listId"
          class="lst-list-save btn btn-block btn-lg"
          ng-click="createList()">
    Save
  </button>

  <div class="btn btn-block btn-lg btn-primary"
       ng-if="listId"
       clip-copy="getLink()"
       clip-click="onCopy()">
    <span ng-hide="linkCopied"> <i class="ion ion-link"></i> {{ listLink }} </span>
    <span ng-show="linkCopied"> Copied! </span>
  </div>
</form>

