.lst-new-btns-wrapper {
  .btn {
    .lst-transition-fast(transform;);
    color: fade(#FFF, 85);
    text-shadow: 0 1px fade(#000, 50);
    text-transform: uppercase;
    background: fade(#000, 40);
    border: none;
    box-shadow: 0 0 0 6px fade(#000, 10);
    padding: 12px 0;
    i {
      margin-right: 0.25em;
    }
    
    &:hover {
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.lst-public-lists-wrapper {
  margin-top: 100px;

  .panel {
    color: @text-color;
    min-width: 200px;
    &:hover {
      border-color: @lst-brand-primary;
    }
  }
}
