<div class="lst-new-btns-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="btn btn-lg btn-block btn-primary" ng-click="newList('todo')">
                    <i class="ion-android-checkbox"></i>
                    Todo
                </div>
            </div>
            <div class="col-xs-4">
                <div class="btn btn-lg btn-block btn-primary" ng-click="newList('vote')">
                    <i class="ion-thumbsup"></i>
                    Vote
                </div>
            </div>
            <div class="col-xs-4">
                <div class="btn btn-lg btn-block btn-primary" ng-click="newList('survey')">
                    <i class="ion-ios-information"></i>
                    Survey
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="page-header">Public Lists</h2>

    <div class="lst-public-lists">

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="(listId, listData) in lists">
                <a ng-href="#/{{ listId }}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ listData.Name }}
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="(k, v) in listData.List">
                                {{ k }}
                                <div class="text-muted pull-right">{{ v }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
