<div class="lst-new-list-item">
    <div class="lst-form-control-icon">
        <div class="lst-vote-item-control" ng-show="type === 'vote'">
            <i class="ion-thumbsup"></i>
        </div>
        <div class="lst-todo-item-control" ng-show="type === 'todo'">
            <i class="ion-android-checkbox-outline-blank"></i>
        </div>
        <div class="lst-survey-item-control" ng-show="type === 'survey'">
            <i class="ion-android-radio-button-off"></i>
        </div>
    </div>
    
    <div class="lst-form-control">
        <input type="text" ng-model="name" placeholder="item {{index + 1}}"/>
    </div>
</div>
