<div class="lst-new-list-wrapper">
    <div class="lst-new-list-backdrop"></div>

    <form ng-submit="createList()" class="lst-new-list-form">
        <div class="lst-input lst-input-title">
            <input type="text" placeholder="{{ listType }} list title" class="lst-title-input" maxlength="24" autofocus="autofocus"/>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="" id="">
                Feature on homepage
            </label>
        </div>

        <div class="lst-new-list-item">
            
        </div>
    </form>
</div>
