.lst-new-list {

  .lst-btn {
    .lst-transition(background;);
    position: relative;
    display: inline-block;
    padding: 7px 16px;
    top: 0;
    color: #FFF;
    background: lighten(@lst-brand-secondary, 5);
    border: 2px solid darken(@lst-brand-secondary, 10);
    border-left-width: 1px;
    border-top-width: 1px;
    border-radius: @border-radius-base;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background: @lst-brand-secondary;
    }
    &:active {
      top: 1px;
    }
  }

  //////////////////////////////////
  // Form
  .lst-new-list-form {
    .lst-transition-fast(opacity;);
    border-radius: @border-radius-base;
    background: #FFF;
    &.lst-show-form {
    }

    //////////////////////////////////
    // Form controls

    .lst-input {
      &.lst-input-title {
        font-size: 2em;
        text-align: center;
        width: 100%;
        input {
          text-align: inherit;
          width: 100%;
        }
      }

      input {
        border: none;
        border-radius: 0;
        &:focus {
          outline: none;
        }
      }
    }

    .lst-radio {
      .lst-transition(opacity;);
      float: left;
      padding-right: 1em;
      &.active {
        opacity: 1;
        color: @lst-active-item-color;
      }
      label {
        cursor: pointer;
      }
    }
  }
}
