<form ng-submit="createList()" class="lst-new-list-form">
    <div class="lst-new-list-section">
        <div class="lst-form-control lst-title">
            <input type="text" placeholder="title" class="lst-title-input" maxlength="24" autofocus="autofocus"/>
        </div>
    </div>

    <div class="lst-new-list-section">
        <div class="lst-new-list-type">
            <div class="row">
                <div class="col-xs-4">
                    <button class="lst-type lst-todo"
                            ng-class="{active: list.type === 'todo'}"
                            ng-click="setType('todo')">
                        <i class="ion-android-checkbox"></i>
                        todo
                    </button>
                </div>
                <div class="col-xs-4">
                    <button class="lst-type lst-vote"
                            ng-class="{active: list.type === 'vote'}"
                            ng-click="setType('vote')">
                        <i class="ion-thumbsup"></i>
                        vote
                    </button>
                </div>
                <div class="col-xs-4">
                    <button class="lst-type lst-survey"
                            ng-class="{active: list.type === 'survey'}"
                            ng-click="setType('survey')">
                        <i class="ion-information-circled"></i>
                        survey
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="lst-new-list-section">
        <new-list-item ng-repeat="item in items"
                       index="$index"
                       name="item.name"
                       sort="item.sort"
                       type="list.type"
                       value="item.value">
        </new-list-item>
    </div>

    <div class="lst-new-list-section">
        <a href="#" target="_parent" ng-click="toggleFeatured()" ng-show="list.security === 'public'">Show</a>
        <a href="#" target="_parent" ng-click="toggleFeatured()" ng-show="list.security === 'link'">Don't show</a>
        this on ridiculi.st
    </div>

    <button class="lst-new-list-save btn btn-block btn-lg">
        Save
    </button>
</form>

