.lst-new-list {
  border-radius: @border-radius-base;
  display: inline-block;
  .lst-transition-fast(background, padding, margin;);
  &.lst-show-form {
    background: #FFF;
    padding: 20px;
    margin: 0;
  }

  .lst-btn {
    .lst-transition(background;);
    position: relative;
    display: inline-block;
    padding: 7px 16px;
    top: 0;
    color: #FFF;
    background: lighten(@lst-brand-secondary, 5);
    border: 2px solid darken(@lst-brand-secondary, 10);
    border-left-width: 1px;
    border-top-width: 1px;
    border-radius: @border-radius-base;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background: @lst-brand-secondary;
    }
    &:active {
      top: 1px;
    }
  }
}
