<div class="lst-list-item" ng-class="{'active': item.value}" ng-click="onClick()">
    <div class="lst-form-control-icon">
        <div class="lst-todo-item-control" ng-show="item.type === 'todo'">
            <i ng-hide="item.value" class="ion-android-checkbox-outline-blank"></i>
            <i ng-show="item.value" class="ion-android-checkbox-outline"></i>
        </div>

        <div class="lst-vote-item-control" ng-show="item.type === 'vote'">
            <i ng-show="item.value" class="ion-android-star"></i>
            <i ng-hide="item.value" class="ion-android-star-outline"></i>
        </div>

        <div class="lst-survey-item-control" ng-show="item.type === 'survey'">
            <i ng-show="item.value" class="ion-android-radio-button-on"></i>
            <i ng-hide="item.value" class="ion-android-radio-button-off"></i>
        </div>
    </div>

    <div class="lst-form-control">
        <input type="text"
               ng-disabled="isReadOnly"
               class="lst-list-item-input"
               placeholder="Add item"
               ng-model="name"
               ng-keydown="onKeydown($event)"
               ng-change="onChange()"/>
    </div>
    <small>{{ item.type }}: {{ item.value }}</small>
</div>
